@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

nav{
    padding: 0;
    background: #000;
    color: #fff;
    font-family: 'Poppins',sans-serif;
    
}

.wrap{
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a{
    color: #fff !important;
    text-decoration: none !important;
}

.links{
   
    display: flex;
    gap: 1.5rem;
    align-items: flex-start;
    justify-items: center;
}

.logo{
    width: 200px;
    height: auto;
}

.smallerDisplay{
    display: none;
}

@media(max-width:968px){
    .links{
        display: none;

    }

    .smallerDisplay{
        display: block;
        color: #fff;
    }
}